.header {
  background-color: #282c34;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.header nav a:hover {
  color: #61dafb;
}

.body {
  padding: 14px;
  text-align: center;
  background-color: #f8f9fa;
  min-height: 60vh;
}
.footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.search-container {
  /*height: 100vh; /* full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #74ebd5, #ACB6E5); */
  text-align: center;
}

.search-container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.search-box {
  display: flex;
  width: 60%;
  max-width: 600px;
  background: white;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 24px;

}

.search-box input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-box button {
  background: #007bff;
  color: white;
  border: none;
  padding: 0 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.search-box button:hover {
  background: #0056b3;
}
/* Card container */
.card {
  width: 300px;
  background: #fff;
  display: inline-block;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 13px;
  font-family: 'Poppins', sans-serif;
}

/* Hover animation */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

/* Image style */
.card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Content */
.card-content {
  padding: 20px;
  text-align: center;
}

/* Title */
.card-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

/* Text */
.card-text {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

/* Button */
.card-button {
  background: linear-gradient(45deg, #007bff, #00bfff);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card-button:hover {
  background: linear-gradient(45deg, #0056b3, #0088cc);
}
